@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    font-family: "Bai Jamjuree", sans-serif;
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue:hsl(201, 11%, 66%);
    --strong-cyan:hsl(171, 66%, 44%);
    --light-blue:hsl(233, 100%, 69%);
}

p{
    color:var(--grayish-blue);
    font-size:16px;
}

h1,h2,h6,li{
    color:var(--dark-grayish-blue);
}

a:hover{
    color: var(--strong-cyan);
    cursor:pointer;
}

a:visited{
    color:var(--dark-grayish-blue);
    text-decoration: none;
}

button{
    border-radius: 40px;
    border-style: none;
    height: 40px;
    cursor:pointer;
    color: white;
    width: 200px;
}

button:hover{
    background-color: var(--grayish-blue);
}

.btn-ios{
    background-color: var(--strong-cyan);
}

.btn-mac{
    background-color: var(--light-blue);
}

h1{
    font-size: 40px;
}

h2{
    font-size:25px;
}

h6{
    font-size:20px;
}

ul{
    list-style: none;
}


