@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    font-family: "Bai Jamjuree", sans-serif;
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue:hsl(201, 11%, 66%);
    --strong-cyan:hsl(171, 66%, 44%);
    --light-blue:hsl(233, 100%, 69%);
}

.image-container {
    content: ""; /* Empty content for the pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Adjust height as needed */
    background-image: url("design/desktop-design.jpg");
    background-size: cover; /* Resize image to fit container */
    z-index: -1; /* Ensure image goes behind page content */
    background-repeat: no-repeat;
    opacity: 0.5;
  }

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
}

p {
    color:var(--grayish-blue);
    font-size:25px;
    font-weight: 500;
}

h1,h2,h6,li{
    color:var(--dark-grayish-blue);
}

a:hover{
    color: var(--strong-cyan);
    cursor:pointer;
}

a:visited{
    color:var(--dark-grayish-blue);
    text-decoration: none;
}

button {
    border-radius: 40px;
    border-style: none;
    height: 76px;
    cursor:pointer;
    color: white;
    width: 303px;
    font-size: 25px;
}

button:hover{
    background-color: var(--grayish-blue);
}

.btn-ios {
    background-color: var(--strong-cyan);
    margin-left: -20px;
}

.btn-mac {
    background-color: var(--light-blue);
    margin-left: 17px;
}

h1 {
    font-size: 59px;
    margin-bottom: 5px;
}

h2{
    font-size:25px;
}

h6{
    font-size:20px;
}

ul{
    list-style: none;
}

.hero figure {
    margin-top: 163px;
    margin-bottom: 29px;
}

.hero img {
    width: 171px;
}

.hero p {
    width: 1000px;
    text-align: center;
    margin-top: 22px;
    font-size: 28px;
    line-height: 1.3;
}

.cta {
    margin: 40px 0;
}

.sec-2 {
    text-align: center;
    border: 1px black solid;
    margin: 116px 0 69px 0;
}

.sec-2 h2 {
    font-size: 50px;
    margin-bottom: 25px;
    font-weight: 600;
    letter-spacing: -0.9px;
}

.sec-2 p {
    width: 947px;
    line-height: 1.5;
    letter-spacing: -0.6px;
    margin-top: 27px;
}

.sec-3 {
    display: flex;
}

.sec-3 img {
    width: 1000px;
}